<div class="article">
    <h1 class="article_title"><%= @article.title %></h1>
    <div class="article_detail">
        <%= image_tag @article.user.avatar_image %>
        <div>
              <p><%= @article.author_name %></p>
              <p><%= @article.display_created_at  %></p>
        </div>
        <div class="article_detail_actions">
            <% if user_signed_in? && current_user.has_writtten?(@article) %> 
                <div class="dropdown">
                    <%= image_tag 'actions.svg', class: 'dropdown' %>
                        <div class="dropdown-content mini">
                        <%= link_to '編集する', edit_article_path(@article) %>  
                        <%= link_to '削除する', article_path(@article),data: {method: 'delete', confirm: '本当に削除しますか？'} %> 
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="ariticle_content">
        <%= @article.content %>
    </div>
    <div class="article_heart">
        <%= image_tag 'heart.svg' %>
    </div>
</div>

<div class="article">
    <h2>コメント一覧</h2>
    <% @comments.each do |comment| %>
        <div class="article_comment">
            <%= comment.content %>
        </div>
    <% end %>
</div>

<div class= "container"> 
  <%= link_to new_article_comment_path(@article) do %>
    <div class= "btn-secondary"> 
      コメントを追加
    </div>  
  <% end %>
</div>